{% extends 'base/base.html' %}

{% block contenido %}

{% include 'portada.html' %}

{% include 'carruse.html' %}

<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit sunt, molestiae in dolorem tempora ea architecto aperiam voluptate ullam ut tempore animi magnam ab omnis cum, iste soluta aspernatur hic!
    Minima consectetur, nulla inventore voluptas nobis rerum nisi, asperiores assumenda consequatur facilis amet suscipit fugiat laudantium numquam ipsam ad nostrum dolores aspernatur provident fuga nam placeat! Fugiat accusantium temporibus necessitatibus.
    Sint exercitationem deleniti odio sit laboriosam laborum, maiores quam. Quod nostrum voluptas qui cum debitis officia harum nam excepturi molestias! Nulla neque cupiditate aliquid illum veniam? Qui sequi expedita impedit.
    Impedit corrupti tenetur et odio, error doloremque? A sunt provident quaerat facere dignissimos aperiam quo. Corporis ex eius veritatis blanditiis, laboriosam recusandae numquam magni, ea voluptatum, qui voluptas commodi itaque.
    Qui amet minus, distinctio officiis iste reprehenderit illum ipsam veniam, perferendis deserunt nemo. Culpa fuga, qui, quisquam exercitationem pariatur sunt fugiat earum illo ipsum odio, cumque nulla magnam reprehenderit quia.</p>

<p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia doloribus laudantium obcaecati molestiae est repellendus porro quas rerum quaerat alias recusandae asperiores, sint nesciunt officiis, praesentium aperiam odit, provident omnis!
    Vitae, expedita nobis. Illo corporis enim magni dolorum velit incidunt ab consequuntur natus iste reiciendis reprehenderit adipisci fugiat cupiditate in, commodi facilis aliquid quibusdam, suscipit nam molestiae fuga culpa sequi!
    Ipsam, error inventore? Nisi aliquam eaque quasi labore ut velit adipisci maiores asperiores natus iusto facilis sequi ipsam consequatur, quod, explicabo similique fuga! Officia tempore, dolorum debitis delectus quis alias!
    Tempora provident ab alias laudantium voluptatibus cumque magnam a neque itaque ad dicta laborum expedita dolores praesentium ea odit facilis enim nihil ducimus, officiis, porro eos velit molestiae nemo. Exercitationem.
    Expedita esse laboriosam labore deleniti impedit laborum fugit excepturi quidem sequi blanditiis sunt et voluptates dolor, at cum exercitationem molestias quibusdam non ipsa dicta doloremque suscipit possimus quia? Quasi, quisquam?
</p>
<h2>Titulo</h2>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit sunt, molestiae in dolorem tempora ea architecto aperiam voluptate ullam ut tempore animi magnam ab omnis cum, iste soluta aspernatur hic!
Minima consectetur, nulla inventore voluptas nobis rerum nisi, asperiores assumenda consequatur facilis amet suscipit fugiat laudantium numquam ipsam ad nostrum dolores aspernatur provident fuga nam placeat! Fugiat accusantium temporibus necessitatibus.
Sint exercitationem deleniti odio sit laboriosam laborum, maiores quam. Quod nostrum voluptas qui cum debitis officia harum nam excepturi molestias! Nulla neque cupiditate aliquid illum veniam? Qui sequi expedita impedit.
Impedit corrupti tenetur et odio, error doloremque? A sunt provident quaerat facere dignissimos aperiam quo. Corporis ex eius veritatis blanditiis, laboriosam recusandae numquam magni, ea voluptatum, qui voluptas commodi itaque.
Qui amet minus, distinctio officiis iste reprehenderit illum ipsam veniam, perferendis deserunt nemo. Culpa fuga, qui, quisquam exercitationem pariatur sunt fugiat earum illo ipsum odio, cumque nulla magnam reprehenderit quia.</p>

{% endblock contenido %}