{% extends 'base/base.html' %}

{% load static %}

{% block contenido %}

    <div class="row align-item-center mt-3">
        <div class="col">
            <h1 class="h1">{{ titulo }}</h1>
        </div>
        <div class="col-auto">
            <a class="btn btn-primary" href="{% url 'productos:agregar' %}">
                <i class="fas fa-plus"></i>
                Agregar Nuevo Productos
            </a>
        </div>
    </div>

    <!-- {% include 'base/paginacion.html' %}

    {% if productos %}
        <ul>
            {% for p in productos %}
                <li>
                    {{p.nombre}} - {{p.precio}} - 
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <h2>No hay productos</h2>
    {% endif %} -->

<!--000000000000000000000000000000000000-->

<!-- Lista de productos -->
<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <!-- Paginación anterior -->
        {% include 'base/paginacion.html' %}
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5 g-3">
            <!-- CARDS (Productos)-->
            {% for p in productos %}
                {% if  not p.estado %}
                    <div class="col">
                        <div class="card shadow-sm position-relative fixed-height-card h-100">
                            
                            {% if p.imagen %}
                                <img class="card-img img-fluid" src="{{p.imagen.url}}">
                            {% else %}
                                <img class="card-img" src="{% static 'image/producto_default.jpg' %}">
                            {% endif %}

                            <div class="card-body">
                                <p class="card-text text-truncate-1">{{ p.nombre }}</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group mt-auto">
                                        <a class="btn btn-sm btn-outline-secondary" href="{% url 'productos:mostrar_detalle' p.pk %}">Ver detalles</a>
                                        {% if user.is_authenticated and user.es_admin %}
                                            <a class="btn btn-sm btn-outline-secondary" href="#">Editar</a>
                                        {% endif %}
                                    </div>
                                    {% if user.is_authenticated and user.es_admin %}
                                        <form action="#" method="post" class="d-inline">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-sm btn-outline-danger" onclick="return confirm('¿Estás seguro de eliminar este producto?')">Eliminar</button>
                                        </form>
                                    {% endif %}
                                    <!-- ICONO DE FAVORITOS -->
                                    <span class="position-absolute top-0 end-0 p-3">
                                        {% if user.is_authenticated %}
                                            {% if p.id in favoritos_ids %}
                                                <!-- Icono de corazón lleno con contorno negro -->
                                                <a href="#" class="toggle-favorito favorito-fill" data-producto-id="{{ p.id }}">
                                                    <i class="fas fa-heart fa-lg"></i>
                                                </a>
                                            {% else %}
                                                <!-- Icono de corazón vacío con contorno negro -->
                                                <a href="#" class="toggle-favorito favorito-outline" data-producto-id="{{ p.id }}">
                                                    <i class="far fa-heart fa-lg"></i>
                                                </a>
                                            {% endif %}
                                        {% endif %}
                                    </span>
                                    <!-- FIN ICONO DE FAVORITOS -->
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            <!--Fin CARDS (productos)-->
        </div>
        
        <!-- Paginación siguiente -->
        <div class="mt-5">
            {% include 'base/paginacion.html' %}
        </div>
    </div>
</div>

<!--000000000000000000000000000000000000-->

<style>
    .card-img {
        object-fit: cover;
        height: 200px;
        width: 100%;
        padding: 30px;
    }
    .fixed-height-card {
        min-height: 320px;
        max-height: 320px;
    }
    .text-truncate-1 {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>


{% endblock contenido %}