{% extends 'base/base.html' %}

{% block contenido %}

    <div class="row align-item-center mt-3">
        <div class="col">
            <h1 class="h1">{{ titulo }}</h1>
        </div>
        <div class="col-auto">
            <a class="btn btn-primary" href="{% url 'productos:agregar' %}">
                <i class="fas fa-plus"></i>
                Agregar Nuevo Productos
            </a>
        </div>
    </div>

    {% include 'base/paginacion.html' %}

    {% if productos %}
        <ul>
            {% for p in productos %}
                <li>
                    {{p.nombre}} - {{p.precio}} - 
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <h2>No hay productos</h2>
    {% endif %}


{% endblock contenido %}